// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Manrope";
$fontSize: 14px;

// Основные цвета
$accentColor: #1e8f37;
$titleColor: #000;
$fontColor: #6f6f6f;
$bgColor: #fff;
$blockRightColor: #f8f8f8;
$blockLeftColor: #fafff8;

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1600px;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/_null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	max-width: $maxWidthContainer;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	// @media (max-width: 1620px) {
	// 	max-width: 1450px;
	// }

	// @media (max-width: 1460px) {
	// 	max-width: 1310px;
	// }

	// @media (max-width: 1330px) {
	// 	max-width: 1170px;
	// }

	// @media (max-width: 1190px) {
	// 	max-width: 9px;
	// }

	// @media (max-width: 992px) {
	// 	max-width: 992px;
	// }

	@media (max-width: 992px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

// Подключение общих стилей
@import "./base/_common";
@import "./base/_spollers";
@import "./base/_swiper";
@import "./base/_anim";
