@font-face {
	font-family: "Solena";
	src: url("../fonts/Solena-Regular.eot");
	src: url("../fonts/Solena-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Solena-Regular.woff2") format("woff2"), url("../fonts/Solena-Regular.woff") format("woff"),
		url("../fonts/Solena-Regular.ttf") format("truetype"),
		url("../fonts/Solena-Regular.svg#Solena-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
